---
permalink: feed/.htaccess
eleventyExcludeFromCollections: true
---
# For Apache, to show `{{ metaData.feed.filename }}` when browsing to directory /feed/ (hide the file!)
DirectoryIndex {{ metaData.feed.filename }}
