
 <!-- page head start -->
        <section id="up" class="pos-rel bg-img-cover" style="background-image:url(/assets/images/backgrounds/man-in-black-crew-neck-shirt-wearing-blue-sunglasses-3951774.jpg)">
            <!-- bg-overlay -->
            <div class="bg-overlay-black"></div>
            <!-- pos-rel start -->
            <div class="pos-rel flex-min-height-100vh">
                <div class="padding-top-bottom-120 container small">
                    <!-- title start -->
                    <h2 class="headline-l after-preloader-anim">
                        <span class="anim-text-fill" data-text="Hi, i'm">Hi, i'm</span>
                        <span class="anim-text-fill tr-delay-01" data-text="CHristie James">CHristie James</span><br>
                        <span id="js-typewriter" class="text-color-red" data-text="Based in"></span><br>
                        <span class="anim-text-fill tr-delay-02" data-text="Based in">Based in</span>
                        <span class="anim-text-fill tr-delay-03" data-text="Oakland, Ca">Oakland, Ca.</span>
                    </h2>
                    <!-- title end -->
                </div>
            </div>
            <!-- pos-rel end -->
        </section>
        <!-- page head end -->


