<!doctype html>
<html lang="en" {%- if htmlClass %} class="{{ htmlClass }}"{% endif  -%}>
  <head>
    {% include "meta.njk" -%}
    {% include "theme-style.njk" -%}
  </head>
  <body {%- if bodyClass %} class="{{ bodyClass }}"{% endif  -%}>
    {%- block headerNav -%}
    {% include "header.njk" -%}
    {%- endblock %}
    <main class="js-animsition-overlay {%- if templateClass %} {{ templateClass }} {% endif  -%}" data-animsition-overlay="true">
     {%- block content %} {{ content | safe }} {% endblock -%}
    </main>
    {% include "footer.njk" -%}
    <!-- scripts -->
    <!-- Current page: {{ page.url | url }} -->
    <script type="text/javascript">
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('/serviceworker.js')
        }
    </script>
    {%- include "theme-scripts.njk" %}
    {%- for script in addtionaljs %}
    <script src="{{ script | url }}"></script>
    {%- endfor %}
    {%- block addtionaljs %}{% endblock %}
    <script src="{{ '/assets/js/min.js' | url }}"></script>
    {%- if GA_ID %}
    <script src="{{ '/assets/js/cached.js' | url }}"></script>
    <script src="{{ '/assets/js/web-vitals.js' | url }}"></script>
    {% endif -%}
    <script src="{{ '/assets/js/main.js' | url }}"></script>
  </body>
</html>
