---
layout: base.njk
templateClass: tmpl-home

---

{% include "hero/hero-type.njk" %}
{% include "home/about-us-slider.njk" %}
{% include "media/youtube-sec.njk" %}
{% include "home/photo-gallery-sec.njk" %}
{% include "home/testimonal-sec.njk" %}
