<!-- reasons start -->
			<section class="pos-rel section-bg-dark-1">
				<!-- pos-rel start -->
				<div class="pos-rel padding-top-bottom-120">
					<!-- title start -->
					<div class="text-center js-scrollanim container small">
						<h2 class="headline-m">
							<span class="anim-text-double-fill invert" data-text="Why We">Why We</span>
							<span class="anim-text-double-fill invert tr-delay-02" data-text="are the">are the</span>
							<span class="anim-text-double-fill tr-delay-04" data-text="Best">Best</span>
						</h2>
						<h3 class="subhead-xs text-color-dadada margin-top-10 anim-fade tr-delay-04">Best Solutions for Your Business</h3>
						<p class="body-text-s margin-top-20 anim-text-reveal tr-delay-06">Plaid retro migas venmo lo-fi ethical artisan fingerstache seitan you probably haven't heard of them fam keffiyeh iPhone stumptown chia. Godard 3 wolf moon tacos try-hard, raw denim locavore messenger bag portland. Blue bottle hashtag schlitz etsy knausgaard, aesthetic tacos freegan lomo deep v fashion axe.</p>
					</div><!-- title end -->

					<!-- accordion start -->
					<div class="accordion accordion_underline js-accordion js-accordion-first-active padding-top-90 container">
						<!-- accordion__tab start -->
						<div class="accordion__tab js-accordion-tab">
							<div class="accordion__btn js-accordion-btn js-pointer-large">
								<h6 class="accordion__btn-title headline-xxs margin-top-bottom-20">Trusted by awesome brands</h6>
							</div>
							<div class="accordion__content js-accordion-content">
								<div class="flex-container flex-align-center">
									<div class="six-columns column-100-100 padding-bottom-30">
										<div class="column-r-margin-40-999">
											<p class="body-text-s text-color-dadada"> la croix skateboard retro art party paleo kogi adaptogen. Crucifix cliche marfa wayfarers squid. Portland YOLO squid butcher thundercats flannel forage pitchfork ramps before they sold out 8-bit chia. Godard 3 wolf moon tacos try-hard, raw denim locavore messenger bag portland.</p>
										</div>
									</div>
									<div class="six-columns column-100-100 padding-bottom-30">
										<div class="pos-rel">
											<img src="/assets/images/saas/Untitled-1.png" alt="saas">
											<div class="bg-overlay-black"></div>
											<a href="https://www.youtube.com/watch?v=hitNXU4PoRU" class="play-button js-popup-youtube js-pointer-large">
												<span class="play-button__inner"></span>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div><!-- accordion__tab end -->

						<!-- accordion__tab start -->
						<div class="accordion__tab js-accordion-tab">
							<div class="accordion__btn js-accordion-btn js-pointer-large">
								<h6 class="accordion__btn-title headline-xxs margin-top-bottom-20">30-day free trial</h6>
							</div>
							<div class="accordion__content js-accordion-content">
								<div class="flex-container flex-align-center">
									<div class="six-columns column-100-100 padding-bottom-30">
										<div class="column-r-margin-40-999">
											<p class="body-text-s text-color-dadada"> la croix skateboard retro art party paleo kogi adaptogen. Crucifix cliche marfa wayfarers squid. Portland YOLO squid butcher thundercats flannel forage pitchfork ramps before they sold out 8-bit chia. Godard 3 wolf moon tacos try-hard, raw denim locavore messenger bag portland.</p>
										</div>
									</div>
									<div class="six-columns column-100-100 padding-bottom-30">
										<div class="pos-rel">
											<img src="/assets/images/saas/Untitled-3.png" alt="saas">
											<div class="bg-overlay-black"></div>
											<a href="https://www.youtube.com/watch?v=hitNXU4PoRU" class="play-button js-popup-youtube js-pointer-large">
												<span class="play-button__inner"></span>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div><!-- accordion__tab end -->

						<!-- accordion__tab start -->
						<div class="accordion__tab js-accordion-tab">
							<div class="accordion__btn js-accordion-btn js-pointer-large">
								<h6 class="accordion__btn-title headline-xxs margin-top-bottom-20">Easy setup</h6>
							</div>
							<div class="accordion__content js-accordion-content">
								<div class="flex-container flex-align-center">
									<div class="six-columns column-100-100 padding-bottom-30">
										<div class="column-r-margin-40-999">
											<p class="body-text-s text-color-dadada"> la croix skateboard retro art party paleo kogi adaptogen. Crucifix cliche marfa wayfarers squid. Portland YOLO squid butcher thundercats flannel forage pitchfork ramps before they sold out 8-bit chia. Godard 3 wolf moon tacos try-hard, raw denim locavore messenger bag portland.</p>
										</div>
									</div>
									<div class="six-columns column-100-100 padding-bottom-30">
										<div class="pos-rel">
											<img src="/assets/images/saas/Untitled-2.png" alt="saas">
											<div class="bg-overlay-black"></div>
											<a href="https://www.youtube.com/watch?v=hitNXU4PoRU" class="play-button js-popup-youtube js-pointer-large">
												<span class="play-button__inner"></span>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div><!-- accordion__tab end -->
					</div><!-- accordion end -->
				</div><!-- pos-rel end -->
			</section><!-- reasons end -->
