<!-- pricing start -->
<section class="pos-rel section-bg-dark-2">
    <!-- pos-rel start -->
    <div class="pos-rel padding-top-bottom-120">
        <!-- title start -->
        <h2 class="headline-xxl text-center js-scrollanim">
            <span class="anim-text-double-fill invert" data-text="Our">Our</span>
            <span class="anim-text-double-fill tr-delay-02" data-text="Pricing">Pricing</span>
        </h2><!-- title end -->

        <!-- container start -->
        <div class="container small padding-top-30">
            <!-- price start -->
            <div class="padding-top-60">
                <div class="flex-container border-box border-radius-10px hidden-box">
                    <div class="three-columns content-bg-red d-flex flex-center-center">
                        <div class="text-center padding-top-bottom-50">
                            <h3 class="subhead-s">Basic</h3>
                            <h4 class="margin-top-10">
                                <span class="headline-l d-block">$100</span>
                                <span class="subhead-xs d-block">Per month</span>
                            </h4>
                        </div>
                    </div>
                    <div class="six-columns d-flex flex-align-center">
                        <div class="width-100perc padding-top-bottom-50">
                            <!-- list start -->
                            <ul class="list list_center subhead-xxs text-color-b0b0b0 margin-left-right-20">
                                <li class="list__item check red">Copper mug</li>
                                <li class="list__item check red">Vexillologist +1</li>
                                <li class="list__item check red">Prism iPhone</li>
                                <li class="list__item check red">Hella quinoa</li>
                                <li class="list__item x opacity-05">Blog af umami</li>
                                <li class="list__item x opacity-05">Vinyl snackwave</li>
                                <li class="list__item x opacity-05">XOXO drinking</li>
                            </ul><!-- list end -->
                        </div>
                    </div>
                    <div class="three-columns d-flex flex-center-center">
                        <div class="price-btn-offset text-center">
                            <a href="#" class="skew-btn js-pointer-large">
                                <span class="skew-btn__box">
                                    <span class="skew-btn__content">sign up</span>
                                    <span class="skew-btn__arrow"></span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div><!-- price end -->

            <!-- price start -->
            <div class="padding-top-60">
                <div class="flex-container border-box border-radius-10px hidden-box">
                    <div class="three-columns content-bg-red d-flex flex-center-center">
                        <div class="text-center padding-top-bottom-50">
                            <h3 class="subhead-s">Standard</h3>
                            <h4 class="margin-top-10">
                                <span class="headline-l d-block">$120</span>
                                <span class="subhead-xs d-block">Per month</span>
                            </h4>
                        </div>
                    </div>
                    <div class="six-columns d-flex flex-align-center">
                        <div class="width-100perc padding-top-bottom-50">
                            <!-- list start -->
                            <ul class="list list_center subhead-xxs text-color-b0b0b0 margin-left-right-20">
                                <li class="list__item check red">Copper mug</li>
                                <li class="list__item check red">Vexillologist +1</li>
                                <li class="list__item check red">Prism iPhone</li>
                                <li class="list__item check red">Hella quinoa</li>
                                <li class="list__item check red">Blog af umami</li>
                                <li class="list__item x opacity-05">Vinyl snackwave</li>
                                <li class="list__item x opacity-05">XOXO drinking</li>
                            </ul><!-- list end -->
                        </div>
                    </div>
                    <div class="three-columns d-flex flex-center-center">
                        <div class="price-btn-offset text-center">
                            <a href="#" class="skew-btn js-pointer-large">
                                <span class="skew-btn__box">
                                    <span class="skew-btn__content">sign up</span>
                                    <span class="skew-btn__arrow"></span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div><!-- price end -->

            <!-- price start -->
            <div class="padding-top-60">
                <div class="flex-container border-box border-radius-10px hidden-box">
                    <div class="three-columns content-bg-red d-flex flex-center-center">
                        <div class="text-center padding-top-bottom-50">
                            <h3 class="subhead-s">Extended</h3>
                            <h4 class="margin-top-10">
                                <span class="headline-l d-block">$150</span>
                                <span class="subhead-xs d-block">Per month</span>
                            </h4>
                        </div>
                    </div>
                    <div class="six-columns d-flex flex-align-center">
                        <div class="width-100perc padding-top-bottom-50">
                            <!-- list start -->
                            <ul class="list list_center subhead-xxs text-color-b0b0b0 margin-left-right-20">
                                <li class="list__item check red">Copper mug</li>
                                <li class="list__item check red">Vexillologist +1</li>
                                <li class="list__item check red">Prism iPhone</li>
                                <li class="list__item check red">Hella quinoa</li>
                                <li class="list__item check red">Blog af umami</li>
                                <li class="list__item check red">Vinyl snackwave</li>
                                <li class="list__item x opacity-05">XOXO drinking</li>
                            </ul><!-- list end -->
                        </div>
                    </div>
                    <div class="three-columns d-flex flex-center-center">
                        <div class="price-btn-offset text-center">
                            <a href="#" class="skew-btn js-pointer-large">
                                <span class="skew-btn__box">
                                    <span class="skew-btn__content">sign up</span>
                                    <span class="skew-btn__arrow"></span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div><!-- price end -->

            <!-- price start -->
            <div class="padding-top-60">
                <div class="flex-container border-box border-radius-10px hidden-box">
                    <div class="three-columns content-bg-red d-flex flex-center-center">
                        <div class="text-center padding-top-bottom-50">
                            <h3 class="subhead-s">Premium</h3>
                            <h4 class="margin-top-10">
                                <span class="headline-l d-block">$180</span>
                                <span class="subhead-xs d-block">Per month</span>
                            </h4>
                        </div>
                    </div>
                    <div class="six-columns d-flex flex-align-center">
                        <div class="width-100perc padding-top-bottom-50">
                            <!-- list start -->
                            <ul class="list list_center subhead-xxs text-color-b0b0b0 margin-left-right-20">
                                <li class="list__item check red">Copper mug</li>
                                <li class="list__item check red">Vexillologist +1</li>
                                <li class="list__item check red">Prism iPhone</li>
                                <li class="list__item check red">Hella quinoa</li>
                                <li class="list__item check red">Blog af umami</li>
                                <li class="list__item check red">Vinyl snackwave</li>
                                <li class="list__item check red">XOXO drinking</li>
                            </ul><!-- list end -->
                        </div>
                    </div>
                    <div class="three-columns d-flex flex-center-center">
                        <div class="price-btn-offset text-center">
                            <a href="#" class="skew-btn js-pointer-large">
                                <span class="skew-btn__box">
                                    <span class="skew-btn__content">sign up</span>
                                    <span class="skew-btn__arrow"></span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div><!-- price end -->
        </div><!-- container end -->
    </div><!-- pos-rel end -->
</section><!-- pricing end -->
