---
layout: base.njk
templateClass: tmpl-media
addtionaljs:
    - '/assets/js/typewriter.js'
    - '/assets/js/typewriter_init.js'
permalink: /media/
---

{% include "hero/hero-static.njk" %}
{% include "home/about-sec.njk" %}
{% include "media/youtube-sec.njk" %}
{% include "media/partners-sec.njk" %}
{% include "media/media-slider-sec.njk" %}
{% include "faq.njk" %}
