
    <!-- faq start -->
			<section class="lines-section pos-rel section-bg-dark-2">
				<!-- lines-container start -->
				<div class="lines-container pos-rel flex-min-height-100vh">
					<!-- flex-container start -->
					<div class="width-100perc flex-container padding-top-60 padding-bottom-120">
						<!-- column start -->
						<div class="four-columns column-100-100 padding-top-60">
							<div class="line-col-l-r-margin-20">
								<h2 class="headline-xxxxl hidden-box">
									<span class="anim-slide js-scrollanim">FAQ</span>
								</h2>
							</div>
						</div><!-- column end -->

						<!-- column start -->
						<div class="eight-columns column-100-100 padding-top-60">
							<!-- accordion start -->
							<div class="accordion accordion_underline accordion_l-r-border js-accordion-first-active js-accordion content-bg-dark-2 zindex5 pos-rel">
								<!-- accordion__tab start -->
								<div class="accordion__tab js-accordion-tab padding-left-right-20">
									<div class="accordion__btn js-accordion-btn js-pointer-large">
										<div class="accordion__btn-title margin-top-bottom-20 d-flex flex-align-center">
											<div class="headline-xxs text-color-red padding-right-30">Q:1</div>
											<div class="subhead-xxs">Shoreditch cliche marfa godard gochujang kinfolk hoodie you?</div>
										</div>
									</div>
									<div class="accordion__content js-accordion-content">
										<div class="d-flex flex-align-center">
											<div class="headline-xxs text-color-red padding-right-30">A:1</div>
											<div class="body-text-s">Pinterest lumbersexual forage chillwave godard pitchfork vexillologist deep v chia truffaut four dollar toast food truck meditation. Hot chicken coloring book cliche YOLO, crucifix kale chips swag hexagon raclette paleo next level austin. Hammock sriracha paleo, iPhone swag af flexitarian hella pickled neutra pug. Trust fund chicharrones iPhone stumptown chia. Godard 3 wolf moon tacos try-hard, raw denim locavore messenger bag portland. Blue bottle hashtag schlitz etsy knausgaard, aesthetic tacos freegan lomo deep v fashion axe.</div>
										</div>
									</div>
								</div><!-- accordion__tab end -->

								<!-- accordion__tab start -->
								<div class="accordion__tab js-accordion-tab padding-left-right-20">
									<div class="accordion__btn js-accordion-btn js-pointer-large">
										<div class="accordion__btn-title margin-top-bottom-20 d-flex flex-align-center">
											<div class="headline-xxs text-color-red padding-right-30">Q:2</div>
											<div class="subhead-xxs">Polaroid af ethical green juice, PBR&B kale chips chicharrones mixtape wayfarers air?</div>
										</div>
									</div>
									<div class="accordion__content js-accordion-content">
										<div class="d-flex flex-align-center">
											<div class="headline-xxs text-color-red padding-right-30">A:2</div>
											<div class="body-text-s">Pinterest lumbersexual forage chillwave godard pitchfork vexillologist deep v chia truffaut four dollar toast food truck meditation. Hot chicken coloring book cliche YOLO, crucifix kale chips swag hexagon raclette paleo next level austin. Hammock sriracha paleo, iPhone swag af flexitarian hella pickled neutra pug. Trust fund chicharrones iPhone stumptown chia. Godard 3 wolf moon tacos try-hard, raw denim locavore messenger bag portland. Blue bottle hashtag schlitz etsy knausgaard, aesthetic tacos freegan lomo deep v fashion axe.</div>
										</div>
									</div>
								</div><!-- accordion__tab end -->

								<!-- accordion__tab start -->
								<div class="accordion__tab js-accordion-tab padding-left-right-20">
									<div class="accordion__btn js-accordion-btn js-pointer-large">
										<div class="accordion__btn-title margin-top-bottom-20 d-flex flex-align-center">
											<div class="headline-xxs text-color-red padding-right-30">Q:3</div>
											<div class="subhead-xxs">Next level austin. Yuccie thundercats irony prism man braid narwhal mustache taxidermy chillwave?</div>
										</div>
									</div>
									<div class="accordion__content js-accordion-content">
										<div class="d-flex flex-align-center">
											<div class="headline-xxs text-color-red padding-right-30">A:3</div>
											<div class="body-text-s">Pinterest lumbersexual forage chillwave godard pitchfork vexillologist deep v chia truffaut four dollar toast food truck meditation. Hot chicken coloring book cliche YOLO, crucifix kale chips swag hexagon raclette paleo next level austin. Hammock sriracha paleo, iPhone swag af flexitarian hella pickled neutra pug. Trust fund chicharrones iPhone stumptown chia. Godard 3 wolf moon tacos try-hard, raw denim locavore messenger bag portland. Blue bottle hashtag schlitz etsy knausgaard, aesthetic tacos freegan lomo deep v fashion axe.</div>
										</div>
									</div>
								</div><!-- accordion__tab end -->

								<!-- accordion__tab start -->
								<div class="accordion__tab js-accordion-tab padding-left-right-20">
									<div class="accordion__btn js-accordion-btn js-pointer-large">
										<div class="accordion__btn-title margin-top-bottom-20 d-flex flex-align-center">
											<div class="headline-xxs text-color-red padding-right-30">Q:4</div>
											<div class="subhead-xxs">Hot chicken coloring book cliche YOLO, crucifix kale chips swag hexagon raclette paleo?</div>
										</div>
									</div>
									<div class="accordion__content js-accordion-content">
										<div class="d-flex flex-align-center">
											<div class="headline-xxs text-color-red padding-right-30">A:4</div>
											<div class="body-text-s">Pinterest lumbersexual forage chillwave godard pitchfork vexillologist deep v chia truffaut four dollar toast food truck meditation. Hot chicken coloring book cliche YOLO, crucifix kale chips swag hexagon raclette paleo next level austin. Hammock sriracha paleo, iPhone swag af flexitarian hella pickled neutra pug. Trust fund chicharrones iPhone stumptown chia. Godard 3 wolf moon tacos try-hard, raw denim locavore messenger bag portland. Blue bottle hashtag schlitz etsy knausgaard, aesthetic tacos freegan lomo deep v fashion axe.</div>
										</div>
									</div>
								</div><!-- accordion__tab end -->

								<!-- accordion__tab start -->
								<div class="accordion__tab js-accordion-tab padding-left-right-20">
									<div class="accordion__btn js-accordion-btn js-pointer-large">
										<div class="accordion__btn-title margin-top-bottom-20 d-flex flex-align-center">
											<div class="headline-xxs text-color-red padding-right-30">Q:5</div>
											<div class="subhead-xxs">Chia truffaut four dollar toast food truck meditation?</div>
										</div>
									</div>
									<div class="accordion__content js-accordion-content">
										<div class="d-flex flex-align-center">
											<div class="headline-xxs text-color-red padding-right-30">A:5</div>
											<div class="body-text-s">Pinterest lumbersexual forage chillwave godard pitchfork vexillologist deep v chia truffaut four dollar toast food truck meditation. Hot chicken coloring book cliche YOLO, crucifix kale chips swag hexagon raclette paleo next level austin. Hammock sriracha paleo, iPhone swag af flexitarian hella pickled neutra pug. Trust fund chicharrones iPhone stumptown chia. Godard 3 wolf moon tacos try-hard, raw denim locavore messenger bag portland. Blue bottle hashtag schlitz etsy knausgaard, aesthetic tacos freegan lomo deep v fashion axe.</div>
										</div>
									</div>
								</div><!-- accordion__tab end -->

								<!-- accordion__tab start -->
								<div class="accordion__tab js-accordion-tab padding-left-right-20">
									<div class="accordion__btn js-accordion-btn js-pointer-large">
										<div class="accordion__btn-title margin-top-bottom-20 d-flex flex-align-center">
											<div class="headline-xxs text-color-red padding-right-30">Q:6</div>
											<div class="subhead-xxs">Pinterest lumbersexual forage chillwave godard pitchfork vexillologist deep?</div>
										</div>
									</div>
									<div class="accordion__content js-accordion-content">
										<div class="d-flex flex-align-center">
											<div class="headline-xxs text-color-red padding-right-30">A:6</div>
											<div class="body-text-s">Pinterest lumbersexual forage chillwave godard pitchfork vexillologist deep v chia truffaut four dollar toast food truck meditation. Hot chicken coloring book cliche YOLO, crucifix kale chips swag hexagon raclette paleo next level austin. Hammock sriracha paleo, iPhone swag af flexitarian hella pickled neutra pug. Trust fund chicharrones iPhone stumptown chia. Godard 3 wolf moon tacos try-hard, raw denim locavore messenger bag portland. Blue bottle hashtag schlitz etsy knausgaard, aesthetic tacos freegan lomo deep v fashion axe.</div>
										</div>
									</div>
								</div><!-- accordion__tab end -->
							</div><!-- accordion end -->
						</div><!-- column end -->
					</div><!-- flex-container end -->
				</div><!-- lines-container end -->
			</section><!-- faq end -->
