   	<!--Start Preloader -->
		<div class="onloadpage" id="page_loader">
			<div class="pre-content">
				<div class="logo-pre">
                <img src="/assets/images/logo.png" alt="Logo" class="img-fluid" /></div>
				<div class="pre-text-"><span>{{ title }} Are 2 Seconds Away.</span>Have Patience</div>
			</div>
		</div>
		<!--End Preloader -->
