    {# <!-- preloader-loading start -->
    <div class="preloader__logoload-box">
        <img class="preloader__logo" src="/assets/images/logo/logo-white.png" alt="logo">
        <div class="preloader__pulse"></div>
    </div>
    <!-- preloader-loading end --> #}

    <!-- pointer start -->
    <div class="pointer js-pointer" id="js-pointer">
        <i class="pointer__inner fas fa-long-arrow-alt-right"></i>
        <i class="pointer__inner fas fa-search"></i>
        <i class="pointer__inner fas fa-link"></i>
    </div>
    <!-- pointer end -->

    <!-- to top btn start -->
    <a href="#up" class="scroll-to-btn js-headroom js-midnight-color js-smooth-scroll js-pointer-large">
        <span class="scroll-to-btn__box">
				<span class="scroll-to-btn__arrow"></span>
        </span>
    </a>
    <!-- to top btn end -->

    <!-- scroll down btn start -->
    <a href="#down" class="scroll-to-btn to-down js-headroom js-midnight-color js-smooth-scroll js-pointer-large js-scroll-btn">
        <span class="scroll-to-btn__box">
				<span class="scroll-to-btn__arrow"></span>
        </span>
    </a>
    <!-- scroll down btn end -->
