    <script src="{{ '/assets/js/vendor/modernizr-3.5.0.min.js' | url }}"></script>
    <script src="{{ '/assets/js/jquery.min.js' | url }}"></script>
    <script src="{{ '/assets/js/bootstrap.bundle.min.js' | url }}"></script>
    <script src="{{ '/assets/js/plugin.min.js' | url }}"></script>
    <script src="{{ '/assets/js/preloader.js' | url }}"></script>
