   <!--Start About-->
    <section class="about-agency pad-tb">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 v-center">
                    <div class="image-block">
                        <img src="/assets/images/about/about-image.png" alt="about" class="img-fluid no-shadow" />
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="common-heading text-l">
                        <span>We Are Creative Agency</span>
                        <h2>About Agency</h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                            specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. is simply dummy text of the printing and typesetting industry.
                        </p>
                        <p class="quote">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.</p>
                        <div class="user- mt30">
                            <div class="media">
                                <div class="user-image bdr-radius"><img src="/assets/images/user-thumb/girl2.jpg" alt="girl" class="img-fluid" /></div>
                                <div class="media-body user-info v-center">
                                    <h5>Moana Smile</h5>
                                    <p>Founder of <span>Niwax</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End About-->
