	<!-- about us start -->
			<section id="down" class="pos-rel section-bg-dark-2">
				<!-- pos-rel start -->
				<div class="pos-rel padding-top-bottom-120">
					<!-- flex-container start -->
					<div class="container flex-container padding-bottom-70">
						<!-- column start -->
						<div class="six-columns padding-bottom-20">
							<!-- title start -->
							<h2 class="column-l-r-margin-10 headline-m js-scrollanim">
								<span class="hidden-box d-block">
									<span class="anim-slide">
										We Are <span class="text-color-red">Creative</span>
									</span>
								</span>
								<span class="hidden-box d-block">
									<span class="anim-slide tr-delay-01 text-color-red">People</span>
								</span>
							</h2><!-- title end -->
						</div><!-- column end -->

						<!-- column start -->
						<div class="six-columns padding-bottom-20">
							<div class="column-l-r-margin-10">
								<p class="body-text-s anim-text-reveal js-scrollanim">Pitchfork vaporware hella, vice next level art party subway tile swag portland. Cliche authentic photo booth, seitan sartorial iPhone brooklyn bicycle rights whatever small batch selvage affogato yuccie adaptogen vinyl. Sartorial franzen tacos cardigan, offal gluten-free pour-over snackwave plaid four dollar toast. Messenger bag keffiyeh church-key, synth iPhone pabst leggings ethical. PBR&B cred hot chicken pork belly.</p>

								<!-- list start -->
								<ul class="list text-color-dadada margin-top-30 js-scrollanim">
									<li class="list__item red dot hidden-box">
										<div class="subhead-xxs anim-slide">Graphic Design</div>
									</li>
									<li class="list__item red dot hidden-box">
										<div class="subhead-xxs anim-slide tr-delay-01">User Interface Design</div>
									</li>
									<li class="list__item red dot hidden-box">
										<div class="subhead-xxs anim-slide tr-delay-02">User Experience Design</div>
									</li>
									<li class="list__item red dot hidden-box">
										<div class="subhead-xxs anim-slide tr-delay-03">Web Design</div>
									</li>
									<li class="list__item red dot hidden-box">
										<div class="subhead-xxs anim-slide tr-delay-04">Motion Design</div>
									</li>
									<li class="list__item red dot hidden-box">
										<div class="subhead-xxs anim-slide tr-delay-05">Front-end Development</div>
									</li>
									<li class="list__item red dot hidden-box">
										<div class="subhead-xxs anim-slide tr-delay-06">Back-end Development</div>
									</li>
								</ul><!-- list end -->
							</div>
						</div><!-- column end -->
					</div><!-- flex-container end -->

					<!-- js-infinite-slider start -->
					<div class="js-infinite-slider about-slider hidden-box">
						<!-- swiper-wrapper start -->
						<div class="swiper-wrapper">
							<!-- swiper-slide start -->
							<div class="swiper-slide">
								<img src="/assets/images/about/about_slider/people-holding-their-phones-3184435.jpg" alt="About us">
							</div><!-- swiper-slide end -->

							<!-- swiper-slide start -->
							<div class="swiper-slide">
								<img src="/assets/images/about/about_slider/fashion-people-woman-girl-3979213.jpg" alt="About us">
								<img class="padding-top-20" src="/assets/images/about/about_slider/men-writing-on-board-3184633.jpg" alt="About us">
							</div><!-- swiper-slide end -->

							<!-- swiper-slide start -->
							<div class="swiper-slide">
								<img src="/assets/images/about/about_slider/man-people-desk-laptop-3931391.jpg" alt="About us">
							</div><!-- swiper-slide end -->

							<!-- swiper-slide start -->
							<div class="swiper-slide">
								<img src="/assets/images/about/about_slider/photo-of-man-using-smartphone-3183191.jpg" alt="About us">
							</div><!-- swiper-slide end -->

							<!-- swiper-slide start -->
							<div class="swiper-slide">
								<img src="/assets/images/about/about_slider/fashion-woman-girl-cute-3979116.jpg" alt="About us">
								<img class="padding-top-20" src="/assets/images/about/about_slider/fashion-man-people-school-3799830.jpg" alt="About us">
							</div><!-- swiper-slide end -->

							<!-- swiper-slide start -->
							<div class="swiper-slide">
								<img src="/assets/images/about/about_slider/women-using-computers-3184348.jpg" alt="About us">
							</div><!-- swiper-slide end -->

							<!-- swiper-slide start -->
							<div class="swiper-slide">
								<img src="/assets/images/about/about_slider/man-wearing-purple-long-sleeved-shirt-looking-at-the-ipad-3184326.jpg" alt="About us">
							</div><!-- swiper-slide end -->

							<!-- swiper-slide start -->
							<div class="swiper-slide">
								<img src="/assets/images/about/about_slider/women-s-white-framed-sunglasses-2690323.jpg" alt="About us">
								<img class="padding-top-20" src="/assets/images/about/about_slider/fashion-man-sunglasses-people-3965233.jpg" alt="About us">
							</div><!-- swiper-slide end -->

							<!-- swiper-slide start -->
							<div class="swiper-slide">
								<img src="/assets/images/about/about_slider/fashion-woman-girl-cute-3979104.jpg" alt="About us">
							</div><!-- swiper-slide end -->
						</div><!-- swiper-wrapper end -->
					</div><!-- js-infinite-slider end -->
				</div><!-- pos-rel end -->
			</section><!-- about us end -->
