		<!-- about start -->
			<section id="down" class="pos-rel section-bg-dark-2">
				<!-- pos-rel start -->
				<div class="pos-rel flex-min-height-100vh">
					<!-- width-100perc start -->
					<div class="width-100perc padding-top-bottom-120">
						<!-- container start -->
						<div class="container small">
							<!-- text-center start -->
							<div class="text-center">
								<!-- title start -->
								<h2 class="headline-xxl hidden-box">
									<span class="anim-slide text-up-none js-scrollanim">We Love Music</span>
								</h2><!-- title end -->
								<h4 class="subhead-s margin-top-20 anim-fade tr-delay-01 js-scrollanim">Pitchfork green juice meh ethical slow-carb poke authentic salvia skateboard helvetica tousled bicycle rights ennui. Hot chicken ugh drinking vinegar.</h4>
							</div><!-- text-center end -->

							<!-- flex-container start -->
							<div class="flex-container padding-top-30">
								<!-- column start -->
								<div class="four-columns padding-top-30">
									<ul class="list text-color-dadada anim-text-reveal tr-delay-02 js-scrollanim">
										<li class="list__item dot red">
											<p class="subhead-xxs">Trip-hop</p>
										</li>
										<li class="list__item dot red">
											<p class="subhead-xxs">Experimental</p>
										</li>
										<li class="list__item dot red">
											<p class="subhead-xxs">Electronic</p>
										</li>
										<li class="list__item dot red">
											<p class="subhead-xxs">Post dub-step</p>
										</li>
										<li class="list__item dot red">
											<p class="subhead-xxs">Indie rock</p>
										</li>
										<li class="list__item dot red">
											<p class="subhead-xxs">Hip-hop, R'n'B</p>
										</li>
									</ul>
								</div><!-- column end -->

								<!-- column start -->
								<div class="eight-columns padding-top-30">
									<div class="column-l-margin-40">
										<p class="body-text-s anim-text-reveal tr-delay-02 js-scrollanim">Retro jean shorts cronut lumbersexual mixtape hella you probably haven't heard of them austin williamsburg af mustache pinterest. Mixtape kinfolk cray, wolf palo santo brunch iPhone. 3 wolf moon microdosing scenester, tilde roof party affogato typewriter celiac echo park craft beer bicycle rights man braid trust fund four dollar toast gentrify.<br><br>
										Ramps kickstarter food truck authentic 8-bit activated charcoal venmo, microdosing cliche. Actually them austin williamsburg af mustache authentic lo-fi single-origin coffee bespoke 8-bit keytar af cronut trust fund.</p>
									</div>
								</div><!-- column end -->
							</div><!-- flex-container end -->
						</div><!-- container end -->

						<!-- js-2-view-slider start -->
						<div class="padding-top-bottom-90 pos-rel hidden-box js-2-view-slider">
							<!-- swiper-wrapper start -->
							<div class="swiper-wrapper js-slider-scroll-anim">
								<!-- swiper-slide start -->
								<div class="swiper-slide">
									<div class="anim-img-scale">
										<img class="anim-img-scale__inner" src="/assets/images/about/music/man-using-brown-and-black-electric-guitar-while-singing-167446.jpg" alt="Music">
									</div>
								</div><!-- swiper-slide end -->

								<!-- swiper-slide start -->
								<div class="swiper-slide">
									<div class="anim-img-scale">
										<img class="anim-img-scale__inner" src="/assets/images/about/music/person-using-dj-mixer-2717073.jpg" alt="Music">
									</div>
								</div><!-- swiper-slide end -->

								<!-- swiper-slide start -->
								<div class="swiper-slide">
									<div class="anim-img-scale">
										<img class="anim-img-scale__inner" src="/assets/images/about/music/adult-audience-audio-cable-358129.jpg" alt="Music">
									</div>
								</div><!-- swiper-slide end -->

								<!-- swiper-slide start -->
								<div class="swiper-slide">
									<div class="anim-img-scale">
										<img class="anim-img-scale__inner" src="/assets/images/about/music/adult-audience-band-celebration-625644.jpg" alt="Music">
									</div>
								</div><!-- swiper-slide end -->

								<!-- swiper-slide start -->
								<div class="swiper-slide">
									<div class="anim-img-scale">
										<img class="anim-img-scale__inner" src="/assets/images/about/music/man-playing-guitar-sitting-on-chair-1425297.jpg" alt="Music">
									</div>
								</div><!-- swiper-slide end -->
							</div><!-- swiper-wrapper end -->

							<!-- swiper-button-prev start -->
							<div class="swiper-button-prev-box">
								<div class="swiper-button-prev"></div>
							</div><!-- swiper-button-prev end -->
							<!-- swiper-button-next start -->
							<div class="swiper-button-next-box">
								<div class="swiper-button-next"></div>
							</div><!-- swiper-button-next end -->

							<!-- swiper-pagination start -->
							<div class="pagination-box">
								<div class="swiper-pagination counter-pagination"></div>
							</div><!-- swiper-pagination end -->
						</div><!-- js-2-view-slider end -->
					</div><!-- width-100perc end -->
				</div><!-- pos-rel end -->
			</section><!-- about end -->
