		<!-- photo gallery start -->
			<section class="pos-rel section-bg-dark-2">
				<!-- pos-rel start -->
				<div class="pos-rel padding-top-bottom-120">
					<!-- title start -->
					<h2 class="headline-xxl text-center hidden-box">
						<span class="anim-slide js-scrollanim">Photo Gallery</span>
					</h2><!-- title end -->

					<!-- js-isotope-grid-box start -->
					<div class="js-isotope-grid-box container full padding-top-50">
						<!-- empty grid -->
						<div class="js-isotope-grid-item empty-grid-1px-33-50-none"></div>
						<div class="js-isotope-grid-item empty-grid-200px-33-none"></div>
						<div class="js-isotope-grid-item empty-grid-100px-33-50-none"></div>

						<!-- grid-item start -->
						<div class="padding-top-40 grid-item-33-50-100 js-isotope-grid-item">
							<a href="/assets/images/about/music-gallery/adult-band-close-up-concert-243989.jpg" class="grid-margin-box js-photo-popup js-pointer-zoom">
								<div class="anim-img-scale js-img-scale">
									<img class="anim-img-scale__inner" src="/assets/images/about/music-gallery/adult-band-close-up-concert-243989.jpg" alt="Music gallery">
								</div>
							</a>
						</div><!-- grid-item end -->

						<!-- grid-item start -->
						<div class="padding-top-40 grid-item-33-50-100 js-isotope-grid-item">
							<a href="/assets/images/about/music-gallery/artist-band-bass-bass-guitar-417473.jpg" class="grid-margin-box js-photo-popup js-pointer-zoom">
								<div class="anim-img-scale js-img-scale">
									<img class="anim-img-scale__inner" src="/assets/images/about/music-gallery/artist-band-bass-bass-guitar-417473.jpg" alt="Music gallery">
								</div>
							</a>
						</div><!-- grid-item end -->

						<!-- grid-item start -->
						<div class="padding-top-40 grid-item-33-50-100 js-isotope-grid-item">
							<a href="/assets/images/about/music-gallery/man-standing-while-playing-guitar-1588075.jpg" class="grid-margin-box js-photo-popup js-pointer-zoom">
								<div class="anim-img-scale js-img-scale">
									<img class="anim-img-scale__inner" src="/assets/images/about/music-gallery/man-standing-while-playing-guitar-1588075.jpg" alt="Music gallery">
								</div>
							</a>
						</div><!-- grid-item end -->

						<!-- grid-item start -->
						<div class="padding-top-40 grid-item-33-50-100 js-isotope-grid-item">
							<a href="/assets/images/about/music-gallery/close-up-photo-of-man-singing-1813241.jpg" class="grid-margin-box js-photo-popup js-pointer-zoom">
								<div class="anim-img-scale js-img-scale">
									<img class="anim-img-scale__inner" src="/assets/images/about/music-gallery/close-up-photo-of-man-singing-1813241.jpg" alt="Music gallery">
								</div>
							</a>
						</div><!-- grid-item end -->

						<!-- grid-item start -->
						<div class="padding-top-40 grid-item-33-50-100 js-isotope-grid-item">
							<a href="/assets/images/about/music-gallery/photo-of-man-playing-electric-guitar-1714354.jpg" class="grid-margin-box js-photo-popup js-pointer-zoom">
								<div class="anim-img-scale js-img-scale">
									<img class="anim-img-scale__inner" src="/assets/images/about/music-gallery/photo-of-man-playing-electric-guitar-1714354.jpg" alt="Music gallery">
								</div>
							</a>
						</div><!-- grid-item end -->

						<!-- grid-item start -->
						<div class="padding-top-40 grid-item-33-50-100 js-isotope-grid-item">
							<a href="/assets/images/about/music-gallery/group-of-people-sitting-on-chair-in-dimmed-room-1481276.jpg" class="grid-margin-box js-photo-popup js-pointer-zoom">
								<div class="anim-img-scale js-img-scale">
									<img class="anim-img-scale__inner" src="/assets/images/about/music-gallery/group-of-people-sitting-on-chair-in-dimmed-room-1481276.jpg" alt="Music gallery">
								</div>
							</a>
						</div><!-- grid-item end -->

						<!-- grid-item start -->
						<div class="padding-top-40 grid-item-33-50-100 js-isotope-grid-item">
							<a href="/assets/images/about/music-gallery/man-wearing-black-crew-neck-shirt-playing-dj-turntable-2123606.jpg" class="grid-margin-box js-photo-popup js-pointer-zoom">
								<div class="anim-img-scale js-img-scale">
									<img class="anim-img-scale__inner" src="/assets/images/about/music-gallery/man-wearing-black-crew-neck-shirt-playing-dj-turntable-2123606.jpg" alt="Music gallery">
								</div>
							</a>
						</div><!-- grid-item end -->

						<!-- grid-item start -->
						<div class="padding-top-40 grid-item-33-50-100 js-isotope-grid-item">
							<a href="/assets/images/about/music-gallery/man-with-dreadlocks-and-sunglasses-poses-near-tupac-shakur-802195.jpg" class="grid-margin-box js-photo-popup js-pointer-zoom">
								<div class="anim-img-scale js-img-scale">
									<img class="anim-img-scale__inner" src="/assets/images/about/music-gallery/man-with-dreadlocks-and-sunglasses-poses-near-tupac-shakur-802195.jpg" alt="Music gallery">
								</div>
							</a>
						</div><!-- grid-item end -->

						<!-- grid-item start -->
						<div class="padding-top-40 grid-item-33-50-100 js-isotope-grid-item">
							<a href="/assets/images/about/music-gallery/person-singing-while-playing-electric-guitar-1864637.jpg" class="grid-margin-box js-photo-popup js-pointer-zoom">
								<div class="anim-img-scale js-img-scale">
									<img class="anim-img-scale__inner" src="/assets/images/about/music-gallery/person-singing-while-playing-electric-guitar-1864637.jpg" alt="Music gallery">
								</div>
							</a>
						</div><!-- grid-item end -->
					</div><!-- js-isotope-grid-box end -->
				</div><!-- pos-rel end -->
			</section><!-- photo gallery end -->
