		<!-- price start -->
			<section id="pricing" class="pos-rel section-bg-dark-2">
				<!-- pos-rel start -->
				<div class="pos-rel padding-top-bottom-120">
					<!-- title start -->
					<div class="text-center js-scrollanim">
						<h2 class="headline-xxl">
							<span class="anim-text-double-fill invert" data-text="Our">Our</span>
							<span class="anim-text-double-fill tr-delay-02" data-text="Pricing">Pricing</span>
						</h2>
						<p class="subhead-xs text-color-dadada margin-top-20 anim-fade tr-delay-04">We Provide the Best Prices for Business</p>
					</div><!-- title end -->

					<!-- flex-container start -->
					<div class="container small flex-container flex-justify-center padding-top-30">
						<!-- column start -->
						<div class="four-columns column-50-100 padding-top-60">
							<div class="column-l-r-margin-10 border-box border-radius-10px">
								<div class="text-center">
									<h3 class="headline-xxxs text-color-red padding-top-bottom-20">Basic</h3>
								</div>
								<h4 class="text-center content-bg-red padding-top-bottom-40">
									<span class="headline-l">$100</span><br>
									<span class="subhead-xs">Per month</span>
								</h4>
								<!-- list start -->
								<ul class="list list_center list_margin-20px text-color-b0b0b0 subhead-xxs margin-left-right-20 padding-top-bottom-60">
									<li class="list__item check red">Copper mug</li>
									<li class="list__item check red">Vexillologist +1</li>
									<li class="list__item check red">Prism iPhone</li>
									<li class="list__item check red">Hella quinoa</li>
									<li class="list__item check red">Blog af umami</li>
									<li class="list__item x opacity-05">Vinyl snackwave</li>
									<li class="list__item x opacity-05">XOXO drinking</li>
								</ul><!-- list end -->
								<div class="text-center padding-bottom-60">
									<a href="#" class="border-btn js-pointer-large">
										<span class="border-btn__inner">sign up</span>
										<span class="border-btn__lines-1"></span>
										<span class="border-btn__lines-2"></span>
									</a>
								</div>
							</div>
						</div><!-- column end -->

						<!-- column start -->
						<div class="four-columns column-50-100 padding-top-60">
							<div class="column-l-r-margin-10 border-box border-radius-10px">
								<div class="text-center">
									<h3 class="headline-xxxs text-color-red padding-top-bottom-20">Standard</h3>
								</div>
								<h4 class="text-center content-bg-red padding-top-bottom-40">
									<span class="headline-l">$120</span><br>
									<span class="subhead-xs">Per month</span>
								</h4>
								<!-- list start -->
								<ul class="list list_center list_margin-20px text-color-b0b0b0 subhead-xxs margin-left-right-20 padding-top-bottom-60">
									<li class="list__item check red">Copper mug</li>
									<li class="list__item check red">Vexillologist +1</li>
									<li class="list__item check red">Prism iPhone</li>
									<li class="list__item check red">Hella quinoa</li>
									<li class="list__item check red">Blog af umami</li>
									<li class="list__item check red">Vinyl snackwave</li>
									<li class="list__item x opacity-05">XOXO drinking</li>
								</ul><!-- list end -->
								<div class="text-center padding-bottom-60">
									<a href="#" class="border-btn js-pointer-large">
										<span class="border-btn__inner">sign up</span>
										<span class="border-btn__lines-1"></span>
										<span class="border-btn__lines-2"></span>
									</a>
								</div>
							</div>
						</div><!-- column end -->

						<!-- column start -->
						<div class="four-columns column-50-100 padding-top-60">
							<div class="column-l-r-margin-10 border-box border-radius-10px">
								<div class="text-center">
									<h3 class="headline-xxxs text-color-red padding-top-bottom-20">Extended</h3>
								</div>
								<h4 class="text-center content-bg-red padding-top-bottom-40">
									<span class="headline-l">$150</span><br>
									<span class="subhead-xs">Per month</span>
								</h4>
								<!-- list start -->
								<ul class="list list_center list_margin-20px text-color-b0b0b0 subhead-xxs margin-left-right-20 padding-top-bottom-60">
									<li class="list__item check red">Copper mug</li>
									<li class="list__item check red">Vexillologist +1</li>
									<li class="list__item check red">Prism iPhone</li>
									<li class="list__item check red">Hella quinoa</li>
									<li class="list__item check red">Blog af umami</li>
									<li class="list__item check red">Vinyl snackwave</li>
									<li class="list__item check red">XOXO drinking</li>
								</ul><!-- list end -->
								<div class="text-center padding-bottom-60">
									<a href="#" class="border-btn js-pointer-large">
										<span class="border-btn__inner">sign up</span>
										<span class="border-btn__lines-1"></span>
										<span class="border-btn__lines-2"></span>
									</a>
								</div>
							</div>
						</div><!-- column end -->
					</div><!-- flex-container end -->
				</div><!-- pos-rel end -->
			</section><!-- price end -->
