<!--Start Service-->
<section class="service-section web-servic pad-tb">
<div class="container">
<div class="row justify-content-center">
<div class="col-lg-8">
<div class="common-heading">
<span>Services We’re Provided</span>
<h2 class="mb30">Our Design & Development Services</h2>
</div>
</div>
</div>
<div class="row upset link-hover shape-num justify-content-center">
<div class="col-lg-3 col-sm-6 mt30 shape-loc wow fadeInUp" data-wow-delay="0.2s">
<div class="s-block" data-tilt data-tilt-max="5" data-tilt-speed="1000">
<div class="s-card-icon"><img src="images/icons/branding.svg" alt="service" class="img-fluid"/></div>
<h4>Logo & Branding Service</h4>
<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
<a href="javascript:void(0)">Learn More <i class="fas fa-chevron-right fa-icon"></i></a>
</div>
</div>
<div class="col-lg-3 col-sm-6 mt30 shape-loc wow fadeInUp" data-wow-delay="0.4s">
<div class="s-block" data-tilt data-tilt-max="5" data-tilt-speed="1000">
<div class="s-card-icon"><img src="images/icons/development.svg" alt="service" class="img-fluid"/></div>
<h4>Website Design & Development</h4>
<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
<a href="javascript:void(0)">Learn More <i class="fas fa-chevron-right fa-icon"></i></a>
</div>
</div>
<div class="col-lg-3 col-sm-6 mt30 shape-loc wow fadeInUp" data-wow-delay="0.6s">
<div class="s-block" data-tilt data-tilt-max="5" data-tilt-speed="1000">
<div class="s-card-icon"><img src="images/icons/app.svg" alt="service" class="img-fluid"/></div>
<h4>Mobile App Development</h4>
<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
<a href="javascript:void(0)">Learn More <i class="fas fa-chevron-right fa-icon"></i></a>
</div>
</div>
<div class="col-lg-3 col-sm-6 mt30 shape-loc wow fadeInUp" data-wow-delay="0.8s">
<div class="s-block mb0" data-tilt data-tilt-max="5" data-tilt-speed="1000">
<div class="s-card-icon"><img src="images/icons/marketing.svg" alt="service" class="img-fluid"/></div>
    <h4>Digital Marketing Service</h4>
<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
<a href="javascript:void(0)">Learn More <i class="fas fa-chevron-right fa-icon"></i></a>
</div>
</div>
</div>
<div class="-cta-btn mt70">
<div class="free-cta-title v-center wow zoomInDown" data-wow-delay=".9s">
<p>Hire a <span>Dedicated Developer</span></p>
<a href="#" class="btn-main bg-btn2 lnk">Hire Now<i class="fas fa-chevron-right fa-icon"></i><span class="circle"></span></a>
</div>
</div>
</div>
</section>
<!--End Service-->
