
			<!-- support start -->
			<section id="support" class="pos-rel section-bg-dark-1">
				<!-- pos-rel start -->
				<div class="pos-rel flex-min-height-100vh">
					<!-- width-100perc start -->
					<div class="width-100perc padding-top-bottom-120">
						<h2 class="headline-l text-center">Excellent Support</h2>

						<!-- padding-top-bottom-90 start -->
						<div class="padding-top-bottom-90 pos-rel">
							<!-- js-1-view-slider start -->
							<div class="js-1-view-slider container small hidden-box">
								<!-- swiper-wrapper start -->
								<div class="swiper-wrapper">
									<!-- swiper-slide start -->
									<div class="swiper-slide">
										<div class="margin-left-right-10">
											<blockquote class="quote">
												<p class="body-text-m">The design was great. Exactly what I had looking for for a long time. I am far from an expert in html but it was easy for me to tailor the design to my needs.<br>But maybe the bet part of my experience was the support. 5* support. Very quick, friendly and professional. All my issues were resolved very quickly.<br>Thank you for your great work and enabling me to have a super cool website!</p>
											</blockquote>
											<div class="margin-top-20 margin-left-50">
												<h5 class="subhead-m anim-text-double-fill tr-delay-01" data-text="Hottelecom">Hottelecom</h5><br>
												<h6 class="headline-xxxxs margin-top-5 anim-text-double-fill invert tr-delay-03" data-text="ThemeForest User">ThemeForest User</h6>
											</div>
											<ul class="list list_row list_right list_margin-1px pos-abs pos-right-bottom-0px text-color-red">
												<li class="list__item anim-fade">
													<i class="fas fa-star"></i>
												</li>
												<li class="list__item anim-fade tr-delay-01">
													<i class="fas fa-star"></i>
												</li>
												<li class="list__item anim-fade tr-delay-02">
													<i class="fas fa-star"></i>
												</li>
												<li class="list__item anim-fade tr-delay-03">
													<i class="fas fa-star"></i>
												</li>
												<li class="list__item anim-fade tr-delay-04">
													<i class="fas fa-star"></i>
												</li>
											</ul>
										</div>
									</div><!-- swiper-slide end -->

									<!-- swiper-slide start -->
									<div class="swiper-slide">
										<div class="margin-left-right-10">
											<blockquote class="quote">
												<p class="body-text-m">Outstanding support from the templates designer, he went out of his way to help me in the customization of the template.<br>Plus is one of the very few actually creative templates, where most templates are just big images and empty pieces of text this template has style and is very atractive to the eye.<br>Totally recommend it.</p>
											</blockquote>
											<div class="margin-top-20 margin-left-50">
												<h5 class="subhead-m anim-text-double-fill tr-delay-01" data-text="Pumsho">Pumsho</h5><br>
												<h6 class="headline-xxxxs margin-top-5 anim-text-double-fill invert tr-delay-03" data-text="ThemeForest User">ThemeForest User</h6>
											</div>
											<ul class="list list_row list_right list_margin-1px pos-abs pos-right-bottom-0px text-color-red">
												<li class="list__item anim-fade">
													<i class="fas fa-star"></i>
												</li>
												<li class="list__item anim-fade tr-delay-01">
													<i class="fas fa-star"></i>
												</li>
												<li class="list__item anim-fade tr-delay-02">
													<i class="fas fa-star"></i>
												</li>
												<li class="list__item anim-fade tr-delay-03">
													<i class="fas fa-star"></i>
												</li>
												<li class="list__item anim-fade tr-delay-04">
													<i class="fas fa-star"></i>
												</li>
											</ul>
										</div>
									</div><!-- swiper-slide end -->

									<!-- swiper-slide start -->
									<div class="swiper-slide">
										<div class="margin-left-right-10">
											<blockquote class="quote">
												<p class="body-text-m">This template is the most amazing template I have seen so far. It is fully responsive - not a single struggle with customisation - completely functional, the author is taking customer support serious, design wise incomparable, beautifully created with clean code. We even changed our CI based on this one... Hopefully there will be more to come!<br>Keep up the good work...</p>
											</blockquote>
											<div class="margin-top-20 margin-left-50">
												<h5 class="subhead-m anim-text-double-fill tr-delay-01" data-text="Cutting_Colors">Cutting_Colors</h5><br>
												<h6 class="headline-xxxxs margin-top-5 anim-text-double-fill invert tr-delay-03" data-text="ThemeForest User">ThemeForest User</h6>
											</div>
											<ul class="list list_row list_right list_margin-1px pos-abs pos-right-bottom-0px text-color-red">
												<li class="list__item anim-fade">
													<i class="fas fa-star"></i>
												</li>
												<li class="list__item anim-fade tr-delay-01">
													<i class="fas fa-star"></i>
												</li>
												<li class="list__item anim-fade tr-delay-02">
													<i class="fas fa-star"></i>
												</li>
												<li class="list__item anim-fade tr-delay-03">
													<i class="fas fa-star"></i>
												</li>
												<li class="list__item anim-fade tr-delay-04">
													<i class="fas fa-star"></i>
												</li>
											</ul>
										</div>
									</div><!-- swiper-slide end -->
								</div><!-- swiper-wrapper end -->

								<!-- swiper-button-prev start -->
								<div class="swiper-button-prev-box">
									<div class="swiper-button-prev"></div>
								</div><!-- swiper-button-prev end -->
								<!-- swiper-button-next start -->
								<div class="swiper-button-next-box">
									<div class="swiper-button-next"></div>
								</div><!-- swiper-button-next end -->

								<!-- swiper-pagination start -->
								<div class="pagination-box">
									<div class="swiper-pagination counter-pagination"></div>
								</div><!-- swiper-pagination end -->
							</div><!-- js-1-view-slider end -->
						</div><!-- padding-top-bottom-90 end -->
					</div><!-- width-100perc end -->
				</div><!-- pos-rel end -->
			</section><!-- support end -->
