	<!-- team start -->
			<section id="team" class="lines-section pos-rel section-bg-dark-1">
				<!-- lines-container start -->
				<div class="lines-container pos-rel padding-top-bottom-120">
					<!-- flex-container start -->
					<div class="flex-container pos-rel">
						<!-- column start -->
						<div class="four-columns column-100-100 padding-bottom-90 js-scrollanim">
							<div class="line-col-l-r-margin-20">
								<!-- title start -->
								<h2 class="headline-s">
									<span class="anim-text-double-fill" data-text="We">We</span>
									<span class="anim-text-double-fill tr-delay-01" data-text="are">are</span>
									<span class="anim-text-double-fill invert tr-delay-02" data-text="a">a</span>
									<span class="anim-text-double-fill invert tr-delay-03" data-text="Team">Team</span><br>
									<span class="anim-text-double-fill invert tr-delay-04" data-text="of">of</span>
									<span class="anim-text-double-fill tr-delay-05" data-text="Experts">Experts</span>
								</h2><!-- title end -->
								<p class="body-text-s margin-top-20 anim-text-reveal tr-delay-08">Narwhal pop-up intelligentsia tbh pinterest, microdosing tilde cloud bread gochujang tattooed leggings cornhole 8-bit. Austin fam chia cold-pressed raw denim. Glossier drinking vinegar portland lo-fi. Chillwave cronut messenger bag truffaut.</p>
							</div>
						</div><!-- column end -->

						<!-- column start -->
						<div class="eight-columns column-100-100 hidden-box">
							<!-- js-1-view-slider start -->
							<div class="slider-gradient-right js-1-view-slider padding-bottom-90">
								<!-- swiper-wrapper start -->
								<div class="swiper-wrapper">
									<!-- swiper-slide start -->
									<div class="swiper-slide">
										<div class="hover-box pos-rel">
											<!-- img start -->
											<img class="img-hover-scale in" src="/assets/images/team/team_barber/man-wearing-black-bow-tie-2330079.jpg" alt="Kevin Kreger">
											<img class="img-hover-overlay out" src="/assets/images/team/team_barber/photo-of-man-wearing-dress-shirt-and-fedora-2313192.jpg" alt="Kevin Kreger">
											<!-- img end -->

											<!-- content start -->
											<div class="pos-abs pos-bottom-center text-center width-100perc">
												<h4 class="hidden-box">
													<span class="headline-xxxs hover-slide">Kevin Kreger</span>
												</h4>
												<p class="hidden-box margin-top-5">
													<span class="subhead-xxs hover-slide tr-delay-02">The hairdresser</span>
												</p>
												<div class="hidden-box margin-top-20">
													<div class="hover-slide tr-delay-04">
														<a href="#" class="flip-btn js-pointer-small" data-text="KevinKreger@dayrep.com">KevinKreger@dayrep.com</a>
													</div>
												</div>
											</div><!-- content end -->
										</div>
									</div><!-- swiper-slide end -->

									<!-- swiper-slide start -->
									<div class="swiper-slide">
										<div class="hover-box pos-rel">
											<!-- img start -->
											<img class="img-hover-scale in" src="/assets/images/team/team_barber/pexels-3622799.jpg" alt="Janice Harris">
											<img class="img-hover-overlay out" src="/assets/images/team/team_barber/photo-of-man-standing-while-wearing-black-shirt-3622808.jpg" alt="Ivan Lofland">
											<!-- img end -->

											<!-- content start -->
											<div class="pos-abs pos-bottom-center text-center width-100perc">
												<h4 class="hidden-box">
													<span class="headline-xxxs hover-slide">Ivan Lofland</span>
												</h4>
												<p class="hidden-box margin-top-5">
													<span class="subhead-xxs hover-slide tr-delay-02">Barber</span>
												</p>
												<div class="hidden-box margin-top-20">
													<div class="hover-slide tr-delay-04">
														<a href="#" class="flip-btn js-pointer-small" data-text="IvanML@armyspy.com">IvanML@armyspy.com</a>
													</div>
												</div>
											</div><!-- content end -->
										</div>
									</div><!-- swiper-slide end -->

									<!-- swiper-slide start -->
									<div class="swiper-slide">
										<div class="hover-box pos-rel">
											<!-- img start -->
											<img class="img-hover-scale in" src="/assets/images/team/team_barber/side-view-photo-of-man-wearing-black-turtleneck-shirt-2719417.jpg" alt="Tracey Brunner">
											<img class="img-hover-overlay out" src="/assets/images/team/team_barber/man-wearing-turtleneck-shirt-2719416.jpg" alt="Michael Pierce">
											<!-- img end -->

											<!-- content start -->
											<div class="pos-abs pos-bottom-center text-center width-100perc">
												<h4 class="hidden-box">
													<span class="headline-xxxs hover-slide">Michael Pierce</span>
												</h4>
												<p class="hidden-box margin-top-5">
													<span class="subhead-xxs hover-slide tr-delay-02">The hairdresser</span>
												</p>
												<div class="hidden-box margin-top-20">
													<div class="hover-slide tr-delay-04">
														<a href="#" class="flip-btn js-pointer-small" data-text="MichaelJ@armyspy.com">MichaelJ@armyspy.com</a>
													</div>
												</div>
											</div><!-- content end -->
										</div>
									</div><!-- swiper-slide end -->
								</div><!-- swiper-wrapper end -->

								<!-- swiper-button-prev start -->
								<div class="swiper-button-prev-box">
									<div class="swiper-button-prev"></div>
								</div><!-- swiper-button-prev end -->
								<!-- swiper-button-next start -->
								<div class="swiper-button-next-box">
									<div class="swiper-button-next"></div>
								</div><!-- swiper-button-next end -->

								<!-- swiper-pagination start -->
								<div class="pagination-box">
									<div class="swiper-pagination counter-pagination"></div>
								</div><!-- swiper-pagination end -->
							</div><!-- js-1-view-slider end -->
						</div><!-- column end -->
					</div><!-- flex-container end -->
				</div><!-- lines-container end -->
			</section><!-- team end -->
