	<!-- partners start -->
			<section class="pos-rel section-bg-light-1" data-midnight="black">
				<!-- pos-rel start -->
				<div class="pos-rel flex-min-height-100vh">
					<!-- container start -->
					<div class="padding-top-bottom-120 container">
						<!-- title start -->
						<h2 class="headline-xl text-color-black text-center hidden-box">
							<span class="anim-slide js-scrollanim">Our partners</span>
						</h2><!-- title end -->

						<!-- flex-container start -->
						<div class="flex-container padding-top-50">
							<!-- column start -->
							<div class="four-columns padding-top-40">
								<div class="padding-top-bottom-60 margin-left-right-20 content-bg-light-2 text-center hover-box pos-rel">
									<img class="client-logo client-hover-out" src="/assets/images/clients/balancha.png" alt="clients logo">
									<img class="client-logo client-hover-in pos-abs pos-center-center" src="/assets/images/clients/balancha-red.png" alt="clients logo">
								</div>
							</div><!-- column end -->

							<!-- column start -->
							<div class="four-columns padding-top-40">
								<div class="padding-top-bottom-60 margin-left-right-20 content-bg-light-2 text-center hover-box pos-rel">
									<img class="client-logo client-hover-out" src="/assets/images/clients/chayhana.png" alt="clients logo">
									<img class="client-logo client-hover-in pos-abs pos-center-center" src="/assets/images/clients/chayhana-red.png" alt="clients logo">
								</div>
							</div><!-- column end -->

							<!-- column start -->
							<div class="four-columns padding-top-40">
								<div class="padding-top-bottom-60 margin-left-right-20 content-bg-light-2 text-center hover-box pos-rel">
									<img class="client-logo client-hover-out" src="/assets/images/clients/dongolok.png" alt="clients logo">
									<img class="client-logo client-hover-in pos-abs pos-center-center" src="/assets/images/clients/dongolok-red.png" alt="clients logo">
								</div>
							</div><!-- column end -->

							<!-- column start -->
							<div class="four-columns padding-top-40">
								<div class="padding-top-bottom-60 margin-left-right-20 content-bg-light-2 text-center hover-box pos-rel">
									<img class="client-logo client-hover-out" src="/assets/images/clients/eptep-septep.png" alt="clients logo">
									<img class="client-logo client-hover-in pos-abs pos-center-center" src="/assets/images/clients/eptep-septep-red.png" alt="clients logo">
								</div>
							</div><!-- column end -->

							<!-- column start -->
							<div class="four-columns padding-top-40">
								<div class="padding-top-bottom-60 margin-left-right-20 content-bg-light-2 text-center hover-box pos-rel">
									<img class="client-logo client-hover-out" src="/assets/images/clients/guldoyjan.png" alt="clients logo">
									<img class="client-logo client-hover-in pos-abs pos-center-center" src="/assets/images/clients/guldoyjan-red.png" alt="clients logo">
								</div>
							</div><!-- column end -->

							<!-- column start -->
							<div class="four-columns padding-top-40">
								<div class="padding-top-bottom-60 margin-left-right-20 content-bg-light-2 text-center hover-box pos-rel">
									<img class="client-logo client-hover-out" src="/assets/images/clients/jorgo.png" alt="clients logo">
									<img class="client-logo client-hover-in pos-abs pos-center-center" src="/assets/images/clients/jorgo-red.png" alt="clients logo">
								</div>
							</div><!-- column end -->

							<!-- column start -->
							<div class="four-columns padding-top-40">
								<div class="padding-top-bottom-60 margin-left-right-20 content-bg-light-2 text-center hover-box pos-rel">
									<img class="client-logo client-hover-out" src="/assets/images/clients/judoboy.png" alt="clients logo">
									<img class="client-logo client-hover-in pos-abs pos-center-center" src="/assets/images/clients/judoboy-red.png" alt="clients logo">
								</div>
							</div><!-- column end -->

							<!-- column start -->
							<div class="four-columns padding-top-40">
								<div class="padding-top-bottom-60 margin-left-right-20 content-bg-light-2 text-center hover-box pos-rel">
									<img class="client-logo client-hover-out" src="/assets/images/clients/kizil-jindi.png" alt="clients logo">
									<img class="client-logo client-hover-in pos-abs pos-center-center" src="/assets/images/clients/kizil-jindi-red.png" alt="clients logo">
								</div>
							</div><!-- column end -->

							<!-- column start -->
							<div class="four-columns padding-top-40">
								<div class="padding-top-bottom-60 margin-left-right-20 content-bg-light-2 text-center hover-box pos-rel">
									<img class="client-logo client-hover-out" src="/assets/images/clients/meyman.png" alt="clients logo">
									<img class="client-logo client-hover-in pos-abs pos-center-center" src="/assets/images/clients/meyman-red.png" alt="clients logo">
								</div>
							</div><!-- column end -->
						</div><!-- flex-container end -->
					</div><!-- container end -->
				</div><!-- pos-rel end -->
			</section><!-- partners end -->
