<!--Start Location-->
<section class="our-office pad-tb">
<div class="container">
<div class="row justify-content-center">
<div class="col-lg-8">
<div class="common-heading">
<span>Our Locations</span>
<h2>Our office</h2>
</div>
</div>
</div>
<div class="row justify-content-center upset shape-numm">
<div class="col-lg-4 col-sm-6 shape-loc wow fadeInUp" data-wow-delay=".2s">
<div class="office-card">
<div class="skyline-img">
<img src="/assets/images/location/newyork.png" alt="New York" class="img-fluid" />
</div>
<div class="office-text">
<h4>New York</h4>
<p class="mb10">603 FA Forest Avenue, New York, USA 10021</p>
<ul class="-address-list">
<li><a href="mailto:info@businessname.com"><i class="fas fa-envelope"></i> info@businessname.com</a></li>
<li><a href="tel:+10000000000"><i class="fas fa-phone-alt"></i> +1 0000 000 000</a> </li>
</ul>
</div>
</div>
</div>
<div class="col-lg-4 col-sm-6 shape-loc wow fadeInUp" data-wow-delay=".4s">
<div class="office-card">
<div class="skyline-img">
<img src="/assets/images/location/sydeny.png" alt="sydney" class="img-fluid" />
</div>
<div class="office-text">
<h4>Sydney</h4>
<p class="mb10">2449 Columbia Boulevard, Sydney, 10021</p>
<ul class="-address-list">
<li><a href="mailto:info@businessname.com"><i class="fas fa-envelope"></i> info@businessname.com</a></li>
<li><a href="tel:+10000000000"><i class="fas fa-phone-alt"></i> +1 0000 000 000</a> </li>
</ul>
</div>
</div>
</div>
<div class="col-lg-4 col-sm-6 shape-loc wow fadeInUp" data-wow-delay=".6s">
<div class="office-card mb0">
<div class="skyline-img">
<img src="/assets/images/location/rome.png" alt="rome" class="img-fluid" />
</div>
<div class="office-text">
<h4>Rome</h4>
<p class="mb10">9988 Piazzetta Scalette Rubiani 99, Rome, 84090</p>
<ul class="-address-list">
<li><a href="mailto:info@businessname.com"><i class="fas fa-envelope"></i> info@businessname.com</a></li>
<li><a href="tel:+10000000000"><i class="fas fa-phone-alt"></i> +1 0000 000 000</a> </li>
</ul>
</div>
</div>
</div>
</div>
</div>
</section>
<!--End Location-->
