		<!-- new videos start -->
			<section class="pos-rel section-bg-dark-1">
				<!-- pos-rel start -->
				<div class="pos-rel flex-min-height-100vh">
					<!-- padding-top-bottom-120 start -->
					<div class="width-100perc padding-top-bottom-120">
						<!-- title start -->
						<h2 class="headline-xxl text-center js-scrollanim">
							<span class="hidden-box d-block">
								<span class="anim-slide">Our New Videos</span>
							</span>
							<span class="hidden-box d-block">
								<span class="anim-slide tr-delay-01">
									<span class="text-color-red">on Youtube</span>
								</span>
							</span>
						</h2><!-- title end -->

						<!-- pos-rel start -->
						<div class="padding-top-60 padding-bottom-90 pos-rel">
							<!-- js-1-view-slider start -->
							<div class="container hidden-box js-1-view-slider">
								<!-- swiper-wrapper start -->
								<div class="swiper-wrapper js-slider-scroll-anim">
									<!-- swiper-slide start -->
									<div class="swiper-slide">
										<div class="flex-container reverse flex-align-center margin-left-right-10">
											<div class="six-columns column-100-100 padding-top-30">
												<div class="column-r-margin-40-999">
													<h3 class="subhead-m">Thundercats single-origin coffee jianbing hoodie health goth keytar.</h3>
													<p class="body-text-s text-color-dadada margin-top-20"> la croix skateboard retro art party paleo kogi adaptogen. Crucifix cliche marfa wayfarers squid. Portland YOLO squid butcher thundercats flannel forage pitchfork ramps before they sold out 8-bit chia.</p>
												</div>
											</div>
											<div class="six-columns column-100-100 padding-top-30 pos-rel">
												<div class="anim-img-scale">
													<img class="anim-img-scale__inner" src="/assets/images/projects/music-videos/woman-wearing-white-shirt-near-white-printer-paper-1876279.jpg" alt="Video background">
													<div class="bg-overlay-black"></div>
												</div>
												<a href="https://www.youtube.com/watch?v=hitNXU4PoRU" class="play-button js-popup-youtube js-pointer-large">
													<span class="play-button__inner"></span>
												</a>
											</div>
										</div>
									</div><!-- swiper-slide end -->

									<!-- swiper-slide start -->
									<div class="swiper-slide">
										<div class="flex-container flex-align-center margin-left-right-10">
											<div class="six-columns column-100-100 padding-top-30 pos-rel">
												<div class="anim-img-scale">
													<img class="anim-img-scale__inner" src="/assets/images/projects/music-videos/person-playing-sun-burst-electric-bass-guitar-in-bokeh-96380.jpg" alt="Video background">
													<div class="bg-overlay-black"></div>
												</div>
												<a href="https://www.youtube.com/watch?v=hitNXU4PoRU" class="play-button js-popup-youtube js-pointer-large">
													<span class="play-button__inner"></span>
												</a>
											</div>
											<div class="six-columns column-100-100 padding-top-30">
												<div class="column-l-margin-40-999">
													<h3 class="subhead-m">Drinking vinegar mixtape church-key letterpress, poke activated chambray!</h3>
													<p class="body-text-s text-color-dadada margin-top-20">Charcoal quinoa la croix fam flexitarian ethical ugh kombucha whatever. Roof party listicle swag direct trade, chambray microdosing prism crucifix tattooed DIY keffiyeh. Tofu tumeric meditation hashtag.</p>
												</div>
											</div>
										</div>
									</div><!-- swiper-slide end -->

									<!-- swiper-slide start -->
									<div class="swiper-slide">
										<div class="flex-container reverse flex-align-center margin-left-right-10">
											<div class="six-columns column-100-100 padding-top-30">
												<div class="column-r-margin-40-999">
													<h3 class="subhead-m">Migas vinyl chartreuse godard palo santo lomo readymade vexillologist.</h3>
													<p class="body-text-s text-color-dadada margin-top-20">ttle fanny pack kale chips craft beer pok pok chambray. Yuccie listicle bicycle rights put a bird on it lyft flexitarian direct trade meggings vape chicharrones green juice man bun. Organic craft beer chambray.</p>
												</div>
											</div>
											<div class="six-columns column-100-100 padding-top-30 pos-rel">
												<div class="anim-img-scale">
													<img class="anim-img-scale__inner" src="/assets/images/projects/music-videos/people-on-concert-1179581.jpg" alt="Video background">
													<div class="bg-overlay-black"></div>
												</div>
												<a href="https://www.youtube.com/watch?v=hitNXU4PoRU" class="play-button js-popup-youtube js-pointer-large">
													<span class="play-button__inner"></span>
												</a>
											</div>
										</div>
									</div><!-- swiper-slide end -->
								</div><!-- swiper-wrapper end -->

								<!-- swiper-button-prev start -->
								<div class="swiper-button-prev-box">
									<div class="swiper-button-prev"></div>
								</div><!-- swiper-button-prev end -->
								<!-- swiper-button-next start -->
								<div class="swiper-button-next-box">
									<div class="swiper-button-next"></div>
								</div><!-- swiper-button-next end -->

								<!-- swiper-pagination start -->
								<div class="pagination-box">
									<div class="swiper-pagination counter-pagination"></div>
								</div><!-- swiper-pagination end -->
							</div><!-- js-1-view-slider end -->
						</div><!-- pos-rel end -->
					</div><!-- padding-top-bottom-120 end -->
				</div><!-- pos-rel end -->
			</section><!-- new videos end -->
