 <!-- form section start -->
        <section class="pos-rel bg-img-cover" style="background-image:url(/assets/images/backgrounds/architecture-buildings-city-fog-373965.jpg)">
            <!-- bg-overlay -->
            <div class="bg-overlay-black"></div>
            <!-- pos-rel start -->
            <div class="pos-rel flex-min-height-100vh">
                <!-- container start -->
                <div class="container small padding-top-bottom-120 form-box">
                    <h4 class="headline-xxxxs text-center">Lets Get In Touch!</h4>
                    <!-- flex-container start -->
                    <form action="" method="post" name="formobrsv" id="send_form" class="flex-container padding-top-90">
                        <!-- column start -->
                        <div class="four-columns">
                            <div class="column-r-margin-10">
                                <input type="text" name="first_name" placeholder="Enter your name" id="first_name" required class="form-input js-pointer-small">
                            </div>
                        </div>
                        <!-- column end -->
                        <!-- column start -->
                        <div class="four-columns">
                            <div class="column-l-r-margin-5">
                                <input type="text" name="last_name" placeholder="Enter your last name" id="last_name" required class="form-input js-pointer-small">
                            </div>
                        </div>
                        <!-- column end -->
                        <!-- column start -->
                        <div class="four-columns">
                            <div class="column-l-margin-10">
                                <input type="email" name="email" placeholder="Enter your email address" id="email" required class="form-input js-pointer-small">
                            </div>
                        </div>
                        <!-- column end -->
                        <!-- column start -->
                        <div class="twelve-columns">
                            <textarea name="message" placeholder="Enter your message" id="message" required class="form-input js-pointer-small"></textarea>
                        </div>
                        <!-- column end -->
                        <!-- column start -->
                        <div class="twelve-columns text-center padding-top-90">
                            <button id="send" class="border-btn js-pointer-large">
									<span class="border-btn__inner">submit</span>
									<span class="btn-wait">Wait</span>
									<span class="border-btn__lines-1"></span>
									<span class="border-btn__lines-2"></span>
								</button>
                        </div>
                        <!-- column end -->
                    </form>
                    <!-- flex-container end -->
                </div>
                <!-- container end -->

                <!-- alert start -->
                <div class="js-popup-fade" id="m_sent">
                    <div class="js-popup">
                        <div class="popup-icon">
                            <i class="fas fa-check"></i>
                        </div>
                        <p class="popup-alert headline-xs">
                            Thank you!<br> Your submission<br> has been received!
                        </p>
                        <div class="js-popup-close js-pointer-large">
                            <div class="flip-btn" data-text="Close">Close</div>
                        </div>
                    </div>
                </div>
                <!-- alert end -->

                <!-- alert start -->
                <div class="js-popup-fade" id="m_err">
                    <div class="js-popup">
                        <div class="popup-icon">
                            <i class="fas fa-times"></i>
                        </div>
                        <p class="popup-alert headline-xs">Error</p>
                        <div class="js-popup-close js-pointer-large">
                            <div class="flip-btn" data-text="Close">Close</div>
                        </div>
                    </div>
                </div>
                <!-- alert end -->
            </div>
            <!-- pos-rel end -->
        </section>
        <!-- form section end -->
