        <!-- contact us start -->
        <section id="down" class="pos-rel section-bg-dark-1">
            <!-- pos-rel start -->
            <div class="pos-rel flex-min-height-100vh">
                <!-- container start -->
                <div class="padding-top-bottom-120 container">
                    <!-- content start -->
                    <div class="js-scrollanim">
                        <h2 class="headline-l">
                            <span class="anim-text-double-fill" data-text="Contact">Contact</span>
                            <span class="anim-text-double-fill tr-delay-02" data-text="Us">Us</span>
                        </h2>
                        <p class="body-text-s margin-top-20 anim-text-reveal tr-delay-04">Pitchfork vaporware hella, vice next level art party subway tile swag portland. Cliche authentic photo booth, seitan sartorial iPhone brooklyn bicycle rights whatever small batch selvage affogato yuccie adaptogen vinyl. Sartorial
                            franzen tacos cardigan, offal gluten-free pour-over snackwave plaid four dollar toast.</p>
                    </div>
                    <!-- content end -->

                    <!-- flex-container start -->
                    <div class="flex-container padding-top-30">
                        <!-- column start -->
                        <div class="four-columns column-50-100 padding-top-60">
                            <div class="column-r-margin-20 js-scrollanim">
                                <p class="headline-xxxxs anim-text-double-fill invert" data-text="Email us">Email us</p>
                                <div class="padding-top-20">
                                    <h6 class="anim-fade tr-delay-01">
                                        <a href="#" class="subhead-xxs text-color-dadada text-hover-to-red js-pointer-small">email@umaya.com</a>
                                    </h6><br>
                                    <h6 class="anim-fade tr-delay-02">
                                        <a href="#" class="subhead-xxs text-color-dadada text-hover-to-red js-pointer-small">email@umaya_job.com</a>
                                    </h6><br>
                                    <h6 class="anim-fade tr-delay-03">
                                        <a href="#" class="subhead-xxs text-color-dadada text-hover-to-red js-pointer-small">email@umaya_agency.com</a>
                                    </h6>
                                </div>
                            </div>
                        </div>
                        <!-- column end -->

                        <!-- column start -->
                        <div class="four-columns column-50-100 padding-top-60">
                            <div class="column-r-margin-20 js-scrollanim">
                                <p class="headline-xxxxs anim-text-double-fill invert" data-text="Visit us">Visit us</p>
                                <h6 class="list list_margin-1px padding-top-20 text-color-b0b0b0">
                                    <span class="list__item">
											<span class="d-inline-block hidden-box">
												<span class="subhead-xxs anim-reveal tr-delay-01">PO Box 223158</span>
                                    </span>
                                    </span>
                                    <span class="list__item">
											<span class="d-inline-block hidden-box">
												<span class="subhead-xxs anim-reveal tr-delay-02">Oliver Street q g</span>
                                    </span>
                                    </span>
                                    <span class="list__item">
											<span class="d-inline-block hidden-box">
												<span class="subhead-xxs anim-reveal tr-delay-03">East Victoria 2006 UK</span>
                                    </span>
                                    </span>
                                </h6>
                                <div class="padding-top-10 anim-fade tr-delay-04">
                                    <a href="#" class="subhead-xxs text-color-dadada text-hover-to-red js-pointer-small">Open in google maps</a>
                                </div>
                            </div>
                        </div>
                        <!-- column end -->

                        <!-- column start -->
                        <div class="four-columns column-50-100 padding-top-60">
                            <div class="column-r-margin-20 js-scrollanim">
                                <p class="headline-xxxxs anim-text-double-fill invert" data-text="Call us">Call us</p>
                                <div class="padding-top-20">
                                    <h6 class="anim-fade tr-delay-01">
                                        <a href="#" class="subhead-xxs text-color-dadada text-hover-to-red js-pointer-small">+23 8 8345 7346</a>
                                    </h6><br>
                                    <h6 class="anim-fade tr-delay-02">
                                        <a href="#" class="subhead-xxs text-color-dadada text-hover-to-red js-pointer-small">+23 8 8532 7834</a>
                                    </h6>
                                </div>
                            </div>
                        </div>
                        <!-- column end -->
                    </div>
                    <!-- flex-container end -->

                    <!-- social btns start -->
                    <div class="padding-top-90">
                        <ul class="list list_row list_margin-30px js-scrollanim">
                            <li class="list__item anim-fade">
                                <a href="#" class="fill-btn text-color-979797 js-pointer-small" data-text="Facebook">Facebook</a>
                            </li>
                            <li class="list__item anim-fade tr-delay-01">
                                <a href="#" class="fill-btn text-color-979797 js-pointer-small" data-text="Dribbble">Dribbble</a>
                            </li>
                            <li class="list__item anim-fade tr-delay-02">
                                <a href="#" class="fill-btn text-color-979797 js-pointer-small" data-text="Instagram">Instagram</a>
                            </li>
                            <li class="list__item anim-fade tr-delay-03">
                                <a href="#" class="fill-btn text-color-979797 js-pointer-small" data-text="Youtube">Youtube</a>
                            </li>
                            <li class="list__item anim-fade tr-delay-04">
                                <a href="#" class="fill-btn text-color-979797 js-pointer-small" data-text="Behance">Behance</a>
                            </li>
                            <li class="list__item anim-fade tr-delay-05">
                                <a href="#" class="fill-btn text-color-979797 js-pointer-small" data-text="Twitter">Twitter</a>
                            </li>
                        </ul>
                    </div>
                    <!-- social btns end -->
                </div>
                <!-- container end -->
            </div>
            <!-- pos-rel end -->
        </section>
        <!-- contact us end -->
